{% extends 'app/base.html' %}
{% load static %}

{% block nombre %}
Taller
{% endblock %}

{% block contenido %}
<div class=" container-fluid banner">
    <div class="banner-img"></div>
    <div class="container-fluid">
        <div class="row d-flex justify-content-start">
            <div class="col-md-2 mt-5 divIns">
                <img src="{% static 'app/img/instructor.jpg' %}" class="imgInst">
            </div>
            <div class="col-md-10">
                <div class="container-fluid mt-4">
                    <div class="mb-3">
                     <h2>Taller de Manualidades</h2>   
                    </div>
                    <div class="row d-flex">
                        <div class="col-md-6">
                            <h4>Paulino Rodrigues</h4>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">
                            <img src="{% static 'app/img/estrella.png' %}" alt="" style="width: 25px; height: 25px;">
                            <h5>4.3</h5>
                        </div>
                    </div>
                    <div class="container mt-2 justify-content-end">
                        <div class="row d-flex">
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                            <p>Taller práctico donde se enseña la técnica del mosaico: corte de teselas, fraguado y diseño, sobre objetos cotidianos del hogar.</p>
                            <p>Artes aplicadas: Craquelado, pintura con textura, Patchwork, Decoupage, entre otros.</p>
                            <p>Técnica de escultura, utilizando la arcilla, el yeso como material artístico y de soporte.</p>
                            <div class="row d-flex">
                                <div class="col-md-6">
                                    <p>Cupos disponibles: 45</p>
                                    <p>Valor a pagar: $0</p>
                                </div>
                                <div class="col-md-6">
                                    <p>Fecha Inicio: 01/12/2022</p>
                                    <p>Fecha Termino: 24/12/2022</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 d-flex">
            <div class="col-md-3">
                <button class="btn btn-primary">Inscribirse</button>   
            </div>
           <div class="col-md-3">
                <button class="btn btn-warning">Calificar</button> 
           </div>
        </div>
        
    </div>
</div>

{% endblock %}