{% extends 'app/base.html' %}
{% load static %}

{% block nombre %}
Taller
{% endblock %}

{% block contenido %}
<div class=" container-fluid banner">
    <div class="banner-img"></div>
    <div class="container-fluid">
        <div class="row d-flex justify-content-start">
            <div class="col-md-2 mt-5 divIns">
                <img src="{% static 'app/img/instructor.jpg' %}" class="imgInst">
            </div>
            <div class="col-md-10">
                <div class="container-fluid mt-4">
                    <div class="mb-3">
                     <h2>Taller de Manualidades</h2>   
                    </div>
                    <div class="row d-flex">
                        <div class="col-md-6">
                            <h4>Paulino Rodrigues</h4>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">
                            <img src="{% static 'app/img/estrella.png' %}" alt="" style="width: 25px; height: 25px;">
                            <h5>4.3</h5>
                        </div>
                    </div>
                    <div class="container mt-2 justify-content-center">
                        <div class="row d-flex justify-content-end">
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quisquam tempora excepturi quam earum, voluptates esse obcaecati neque impedit tempore doloribus aliquam molestias sit delectus, amet quidem laborum ad velit veritatis autem soluta necessitatibus, labore ducimus voluptate? Ipsum, laudantium quos eos deleniti repellat aspernatur fugit voluptatibus harum provident error voluptas ut laboriosam rem quod excepturi illum. Eum quis illum quam praesentium esse incidunt quae voluptatem culpa voluptas deserunt. Laboriosam deleniti sint quaerat quod veniam, delectus neque reiciendis est, reprehenderit deserunt voluptate impedit nostrum culpa. Ipsam porro officia temporibus repellendus dolorem, doloremque ad animi, error earum odio perspiciatis, blanditiis quisquam obcaecati!</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit possimus ipsum deserunt obcaecati, vel accusamus consequatur nobis quisquam minus totam reiciendis ad? Quidem rerum obcaecati veritatis atque? Perspiciatis quibusdam, exercitationem delectus repellendus, est fugit ipsa dolorum earum sequi architecto alias a labore porro consequuntur officiis eius illum atque ad. Corporis.</p>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 d-flex">
            <div class="col-md-3">
                <button class="btn btn-primary">Inscribirse</button>   
            </div>
           <div class="col-md-3">
                <button class="btn btn-warning">Calificar</button> 
           </div>
        </div>
        
    </div>
</div>

{% endblock %}