{% extends 'app/base.html' %}
{% load static %}

{% block nombre %}
Postulaciones
{% endblock %}

{% block contenido %}
<div class="container-fluid mt-5">
    <div class="row d-flex">
        <div class="col-md-8 d-flex">
            <div class="col-md-6">
                <div class="row d-flex justify-content-start">
                    <div class="col-md-6">
                        <img src="{% static 'app/img/usuario.png' %}" alt="" style="width: 100px; height: 100px;">
                    </div>
                    <div class="col-md-6">
                        <h2>Fernanda Saez</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-align-right">
                <p>23/03/2022</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row d-flex">
                <div class="col-md-6">
                   <button class="btn btn-success">Aceptar</button>
                </div>
                <div class="col-md-6">
                   <button class="btn btn-danger">Rechazar</button> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row d-flex">
        <div class="col-md-8 d-flex">
            <div class="col-md-6">
                <div class="row d-flex justify-content-start">
                    <div class="col-md-6">
                        <img src="{% static 'app/img/usuario.png' %}" alt="" style="width: 100px; height: 100px;">
                    </div>
                    <div class="col-md-6">
                        <h2>Susana Gallardo</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-align-right">
                <p>29/06/2022</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row d-flex">
                <div class="col-md-6">
                   <button class="btn btn-success">Aceptar</button>
                </div>
                <div class="col-md-6">
                   <button class="btn btn-danger">Rechazar</button> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row d-flex">
        <div class="col-md-8 d-flex">
            <div class="col-md-6">
                <div class="row d-flex justify-content-start">
                    <div class="col-md-6">
                        <img src="{% static 'app/img/usuario.png' %}" alt="" style="width: 100px; height: 100px;">
                    </div>
                    <div class="col-md-6">
                        <h2>Alex Fernandez</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-align-right">
                <p>10/03/2022</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row d-flex">
                <div class="col-md-6">
                   <button class="btn btn-success">Aceptar</button>
                </div>
                <div class="col-md-6">
                   <button class="btn btn-danger">Rechazar</button> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}