{% extends 'app/base.html' %}
{% load static %}

{% block nombre %}
Postular
{% endblock %}

{% block contenido %}
<div class="container mt-5 mb-5">
    <div class="card card-form">
      <div class="title mt-4 text-center">
        <h4>Postular a Instructor</h4>
      </div>
      <div class="body p-5">
        <div class="container px-5">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="inputNombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="col-md-6">
              <label for="inputApellido" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="inputApellido">
            </div>
            <div class="col-md-6">
              <label for="inputRut" class="form-label">Rut</label>
              <input type="text" class="form-control" id="inputRut">
            </div>
            <div class="col-md-6">
              <label for="inputFNac" class="form-label">Fecha de naciminento</label>
              <input type="date" class="form-control" id="inputFNac">
            </div>
            <div class="col-md-6">
              <label for="inputGen" class="form-label">Género</label>
              <input type="text" class="form-control" id="inputGen">
            </div>
            <div class="col-md-6">
              <label for="inputCorreo" class="form-label">Correo</label>
              <input type="text" class="form-control" id="inputCorreo">
            </div>
            <div class="col-md-6">
              <label for="inputNumTel" class="form-label">Número de teléfono</label>
              <input type="text" class="form-control" id="inputNumTel">
            </div>
            <div class="col-md-6">
              <label for="inputNombreTaller" class="form-label">Nombre del Taller</label>
              <input type="text" class="form-control" id="inputNombreTaller">
            </div>
            <div class="col-md-6">
              <label for="inputDuracion" class="form-label">Días Impartidos</label>
              <input type="text" class="form-control" id="inputDuracion" placeholder="Ej: Lunes, Miercoles, Domingo">
            </div>
            <div class="col-md-6">
              <label for="inputDiaInicio" class="form-label">Fecha Inicio</label>
              <input type="date" class="form-control" id="inputDiaInicio" placeholder="Fecha Inicio:">
            </div>
            <div class="col-md-6">
              <label for="inputDiaFinal" class="form-label">Fecha Final</label>
              <input type="date" class="form-control" id="inputDiaFinal" placeholder="Fecha Final:">
            </div>
            <div class="col-md-6">
              <label for="inputDocumento" class="form-label">Inserte Certificado</label>
              <input type="file" class="form-control" id="inputDocumento">
          </div>
            <div class="col-12">
              <label for="inputDescripcion" class="form-label">Descripcion del Taller</label>
              <textarea rows="6" cols="10" class="form-control" id="inputDescripcion"></textarea>
            </div>
            <div class="col-md-6">
              <label for="inputNombreTaller" class="form-label">Materiales</label>
              <textarea rows="2" cols="10" class="form-control" id="inputNombreTaller"></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Postularme</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}