{% extends 'app/base.html' %}
{% load static %}

{% block nombre %}
Talleres
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="col-sm-12 mt-5">
        <h2>Talleres Disponibles</h2>
    </div>
    <div class="container">
        <div class="row mb-5">
          {% for t in listaTalleres %}
          <div class=" col-md-4 mx-10 my-3 d-flex justify-content-center">
            <div class="card " style="width: 18rem;">
              <img src="{{ t.imagen.url }}" style="height: 13rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ t.nombre_curso }}</h5>
                <p class="card-text">{{ t.instructor.usuario.first_name }} {{ t.instructor.usuario.last_name }}</p>
                <a href="{% url 'detalleT' t.id_curso %}" class="btn btn-primary">Ver Más</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
</div>
</div>
{% endblock %}