html{
    font-family: 'Lato', sans-serif;
}

.bg-azul{
    background-color: #236192;
}

.logo{
    width: 290px;
}

.avatar{
    background-color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.nav-bar{
    border-bottom: 1px solid #000;
}

.nav-item a{
    color: #000;
    font-size: 18px;
}

.barsize{
    height: 45px;
}

.input-group-prepend img{
    width: 30px;
}